#pragma once

CalendarSettings calSettings{
    .calendarAccountURL = "https://path/to/calendar/server/with/account",
    .metric             = false,
    .weatherURL         = "http://api.openweathermap.org/data/2.5/"
                          "weather?lat=0.0&lon=0.0&lang=en&units=imperial&appid=APIKEY",

    // if these values are set, then at local hour `silenceWindowHourStart`,
    // calendar event start vibrations will be silenced, and at
    // `silenceWindowHourEnd` they will start again. Note that this does not
    // affect "WATCHY ALARM" calendar events, as they are handled separately.
    .silenceWindowHourStart = 22,
    .silenceWindowHourEnd   = 6,
};

WiFiConfig wifiNetworks[] = {
    {
        .SSID = "ssid1",
        .Pass = "pass1",
    },
    {
        .SSID = "ssid2",
        .Pass = "pass2",
    },
};

WatchySettings watchSettings{
    .networkFetchIntervalSeconds = 60 * 60,
    .networkFetchTries           = 3,

    .wifiNetworks     = wifiNetworks,
    .wifiNetworkCount = sizeof(wifiNetworks) / sizeof(wifiNetworks[0]),

    // EST. will get fixed by weather api for EDT.
    .defaultTimezoneOffset = -5 * 60 * 60,

    .buttonConfig = BUTTONS_SELECT_BACK_LEFT,

#ifdef IS_WATCHY_V3
    .fullVoltage  = 3.99,
    .emptyVoltage = 3.2,
#else
    .fullVoltage  = 4.2,
    .emptyVoltage = 3.2,
#endif
};
