{
  "mysecretkey": {
    "identities": ["email"],
    "excluded-events": ["coffee"],
    "ical-urls": [
     "#comment 1",
     "https://calendar.google.com/calendar/ical/email1/private-key/basic.ics",

     "#comment 2",
     "https://calendar.google.com/calendar/ical/email2/private-key/basic.ics"
    ],
  }
}
